@model FeedbackViewModel

<form asp-action="AddFeedback" method="post">

    <h6 class="mb-10">Your Feedback</h6>
    <div class="form-group">
        <label asp-for="Comment" class="control-label"></label>
        <textarea asp-for="Comment" class="form-control" cols="10" rows="10"></textarea>
    </div>
    <div class="mt-10 text-right">
        <button type="reset" class="btn text-center text-uppercase enroll">Submit</button>
    </div>
</form>

